# Python API

API/dataset/
API/.venv/
API/runs/detect/
API/note/
API/build_dataset.py
API/model/test.py
API/model/train.py
API/model/val.py
API/model/yolo11s.pt
API/src/__pycache__/

# dependencies
/application/node_modules
/application/.pnp
/application/.pnp.*
/application/.yarn/*
!/application/.yarn/patches
!/application/.yarn/plugins
!/application/.yarn/releases
!/application/.yarn/versions

# testing
/application/coverage

# next.js
/application/.next/
/application/out/

/application/build

# misc
/application/.DS_Store
/application/*.pem

# debug
/application/npm-debug.log*
/application/yarn-debug.log*
/application/yarn-error.log*
/application/.pnpm-debug.log*
