# Python API

API/dataset/
API/.venv/
API/runs/detect/
API/note/
API/build_dataset.py
API/model/test.py
API/model/train.py
API/model/val.py
API/model/yolo11s.pt



# dependencies
/my-app/node_modules
/my-app/.pnp
/my-app/.pnp.*
/my-app/.yarn/*
!/my-app/.yarn/patches
!/my-app/.yarn/plugins
!/my-app/.yarn/releases
!/my-app/.yarn/versions

# testing
/my-app/coverage

# next.js
/my-app/.next/
/my-app/out/

/my-app/build

# misc
/my-app/.DS_Store
/my-app/*.pem

# debug
/my-app/npm-debug.log*
/my-app/yarn-debug.log*
/my-app/yarn-error.log*
/my-app/.pnpm-debug.log*

# env files
/my-app/.env*

# vercel
/my-app/.vercel

# typescript
/my-app/*.tsbuildinfo
/my-app/next-env.d.ts
